@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.app.animate {
  animation: fadeInOut 3s ease-in-out;
}
.container, .header, .level, .status, .progress, .image-placeholder, .question, .input-section, button, .loader {
  --animate-duration: 2s;
  --animate-delay: 0.5s;
}

.app {
  background: url("C:/Users/perik/OneDrive/Desktop/event/my-app/public/back.jpg") no-repeat center center fixed; /* Set the background image */
  background-size: cover; /* Ensure the background covers the entire app area */
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(75%);
}

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black background */
  backdrop-filter: blur(4px); /* Apply blur effect */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 1); /* White shadow */
  margin: 2vh 5vw 1vh 5vw;
  width: 60vw;
  height: 95vh; /* Adjust height to fit within the app */
  text-align: center;
  box-sizing: border-box;
  color: #FFFFFF; /* White text color */
  /* border: 5px solid #82fa1a;  */
}

.img {
  margin-top: -3vh;
  margin-bottom: -5vh;
}

.level {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.status {
  margin-bottom: 20px;
}

.progress {
  background-color: #3A3A3A; /* Dark progress background */
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}

.image-placeholder {
  background-color: #3A3A3A; /* Dark image placeholder background */
  border-radius: 5px;
  padding: 5px;
  width: 30vw;
  margin-left:13vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-placeholder input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px; 
}

.question {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%; /* Ensure input section is centered and responsive */
}

.question-input, .password-input {
  width: 100%;
  padding: 10px;
  margin-left: 4vw;
  border: 1px solid #555; /* Dark input border */
  border-radius: 5px;
  background-color: #555; /* Dark input background */
  color: #FFFFFF; /* White text color */
}

button {
  width: 40%;
  height: 40px;
  padding: 10px;
  background-color: #444; /* Dark button background */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #006400; /* Dark green hover color */
}

.loader {
  margin-top: 20px;
}
