.app {
  text-align: center;
  padding: 20px;
}

.event-details, .registration-form, .challenge-page, .leaderboard {
  margin: 20px;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}
p1{
  font-family: playfair display;
  font-size: 25px;
  color: #20b506c5;

}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #20b506c5;
  filter: brightness(200%);
  font-weight: bold;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #20b506c5;
  filter: brightness(200%)
}


.card {
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black background */
  backdrop-filter: blur(4px); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px  #82fa1a;
  
}

/* Add this to your EventDetails.css and RegistrationForm.css files */

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    margin-bottom: 3vh;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.bordered-content {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: transparent; /* Match the background color in the image */
  border-radius: 10px;
  margin-bottom: -8vh; 
  margin-top: -10vh;/* Optional, for rounded corners */
 /* Space below the bordered content */
}


.elogo1{
  height: 37vh;
  width: 30vw;
}
.Heading {
  color: white;
  font-size: 80px;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}